.todo {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  background: #ececec;
}

.checkbox {
  margin-right: 2rem;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
}
